<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parallel Tests" parallel="classes" thread-count="2">
    <test name="Chrome Windows Test">
        <parameter name="platform" value="Windows 10" />
        <parameter name="browser" value="Chrome" />
        <parameter name="version" value="86.0" />
        <classes>
            <class name="org.example.ChromeTest"/>
        </classes>
    </test>
    <test name="Edge macOS Test">
        <parameter name="platform" value="macOS Sierra" />
        <parameter name="browser" value="MicrosoftEdge" />
        <parameter name="version" value="87.0" />
        <classes>
            <class name="org.example.EdgeMacOSTest"/>
        </classes>
    </test>
</suite>
